/*========================================*/
/*----------- [_Google_Fonts] ------------*/
/*========================================*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@700&display=swap');

/*font-family: 'Roboto', sans-serif;*/
/*font-family: 'Open Sans', sans-serif;*/

/*========================================*/
/*---------[-Colors & font-size]----------*/
/*========================================*/

:root {
    /* font-size */
    --x-small: 10px;
    --small: 14px;
    --medium: 16px;
    --large: 45px;
    /* colors */
    --blue: #2D7AC0;
    --white: #fff;
    --gray: #bec1bb;
    --very-light-pink: #c7c7c7;
    --dark-jungle: #1b1f21;
    --outer-space: #444749;
}

/*========================================*/
/*-------------- [_Utility] -----===------*/
/*========================================*/

body {
    margin: 0;
    padding: 0;
}

nav {
    grid-area: navbar;
    background-color: var(--blue);
    display: flex;
    align-items: center;
}

aside {
    grid-area: aside;
    background-color: var(--very-light-pink);
    padding-left: 20px;
}

aside ul {
    padding-left: 0px;
}

aside ul li {
    font-family: 'Open Sans', sans-serif;
    font-size: var(--small);
    font-weight: lighter;
    color: var(--outer-space);
    list-style: none;
    text-align: left;
    margin-bottom: 3px;
}

aside ul li a {
    text-decoration: none;
    font-size: var(--small);
    font-weight: lighter;
    color: var(--dark-jungle);
}

section {
    grid-area: main;
    background-color: var(--very-light-pink);
}

footer {
    grid-area: footer;
    display: flex;
    align-items: center;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: var(--small);
    font-weight: lighter;
    color: var(--dark-jungle);
    margin: 0px;
    width: 100%;
    text-align: center;
}

/*========================================*/
/*---------------- [_Class] -----===------*/
/*========================================*/

.grid-container {
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 2fr 7fr;
    grid-template-rows: 1fr 7fr 1fr;
    grid-template-areas: 
    'navbar navbar navbar navbar'
    'aside main main main'
    'footer footer footer footer';
}

.nav-title {
    font-family: 'Roboto', sans-serif;
    font-size: var(--medium);
    color: var(--white);
    margin: 0px;
    width: 100%;
    text-align: center;
}

.aside-title {
    font-family: 'Roboto', sans-serif;
    font-size: var(--medium);
    color: var(--dark-jungle);
}