/*========================================*/
/*----------- [_Google_Fonts] ------------*/
/*========================================*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@700&display=swap');

/*font-family: 'Roboto', sans-serif;*/
/*font-family: 'Open Sans', sans-serif;*/

/*========================================*/
/*---------[-Colors & font-size]----------*/
/*========================================*/

:root {
    /* font-size */
    --x-small: 10px;
    --small: 14px;
    --medium: 16px;
    --large: 45px;
    /* colors */
    --blue: #2980B9;
    --white: #fff;
    --gray: #bec1bb;
    --dark-jungle: #1b1f21;
    --outer-space: #444749;
}

/*========================================*/
/*-------------- [_Utility] -----===------*/
/*========================================*/

body {
    margin: 0;
    padding: 0;
}

/*========================================*/
/*---------------- [_Class] -----===------*/
/*========================================*/