/*========================================*/
/*----------- [_Google_Fonts] ------------*/
/*========================================*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@700&display=swap');

/*font-family: 'Roboto', sans-serif;*/
/*font-family: 'Open Sans', sans-serif;*/

/*========================================*/
/*---------[-Colors & font-size]----------*/
/*========================================*/

:root {
    /* font-size */
    --x-small: 10px;
    --small: 14px;
    --medium: 16px;
    --large: 45px;
    /* colors */
    --blue: #2D7AC0;
    --white: #fff;
    --gray: #bec1bb;
    --very-light-pink: #eeeeee;
    --dark-jungle: #1b1f21;
    --outer-space: #444749;
}

/*========================================*/
/*-------------- [_Utility] -----===------*/
/*========================================*/

body {
    margin: 0;
    padding: 0;
}

nav {
    grid-area: navbar;
    background-color: var(--blue);
    display: flex;
    align-items: center;
}

aside {
    grid-area: aside;
    background-color: var(--very-light-pink);
    padding-left: 20px;
}

aside ul {
    padding-left: 0px;
}

aside ul li {
    font-family: 'Open Sans', sans-serif;
    font-size: var(--x-small);
    font-weight: normal;
    color: var(--outer-space);
    list-style: none;
    text-align: left;
    margin-bottom: 3px;
}

aside ul li a {
    text-decoration: none;
    font-size: var(--small);
    font-weight: lighter;
    color: var(--dark-jungle);
}

section {
    grid-area: main;
    background-color: var(--very-light-pink);
}

footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    background-color: var(--blue);
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: var(--small);
    font-weight: lighter;
    color: var(--white);
    margin: 0px;
    width: 100%;
    text-align: center;
}

/*========================================*/
/*---------------- [_Class] -----===------*/
/*========================================*/

.grid-container {
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 2fr 7fr;
    grid-template-rows: 0.5fr 8fr 0.5fr;
    grid-template-areas: 
    'navbar navbar navbar navbar'
    'aside main main main'
    'footer footer footer footer';
}

.nav-title {
    font-family: 'Roboto', sans-serif;
    font-size: var(--medium);
    color: var(--white);
    margin: 0px;
    width: 100%;
    text-align: center;
}

.aside-title {
    font-family: 'Roboto', sans-serif;
    font-size: var(--medium);
    color: var(--dark-jungle);
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 10px;
    padding: 15px 15px;
}

.product-card {
    width: 300px;
    background-color: var(--white);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
}

.product-card img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-details h2 {
    font-family: 'Roboto', sans-serif;
    font-size: var(--medium);
    color: var(--dark-jungle);
    margin-top: 10px;
    margin-bottom: 0;
}

.product-details p {
    font-family: 'Open Sans', sans-serif;
    font-size: var(--small);
    color: var(--blue);
    text-align: center;
}

.product-bottom {
    width: 100%;
    height: 30px;
    background-color: var(--blue);
}

.product-bottom a {
    font-family: 'Roboto', sans-serif;
    font-size: var(--small);
    color: var(--white);
    display: block;
    text-decoration: none;
    text-align: center;
    margin: 5px;
} 